{{!--
  1. do not container any keywords about ads
  2. do not use href for ads link
  All of these will be blocked by ads blocker, use base64 encoded string for the digital ocean url
--}}
<a onclick="window.location = atob('aHR0cHM6Ly9tLmRvLmNvL2MvNjI1NzlkYzIxMTMw'.replace(/_/g, '/').replace(/-/g, '+'));">
    <img style="display:block;height:auto;border:1px solid #eee;max-width: 300px;" src="{{asset "something-important-for-gaplotech.png"}}"/>
</a>

