@import 'hack_hbml_liga';

$default-token-color: #a9b7c6;
$default-bg-color: #222831;
$default-font-family: 'HackJBMLigaturedCCG-Regular', Menlo, Consolas, Monaco, source-code-pro, 'Andale Mono', monospace;
$line-number-text-color: #999;

$keyword-color: #f92672;
$selection-bg-color: rgba(33, 66, 131, 0.85);
$border-color: rgba(255, 255, 255, 0.1);
$function-color: #a6e22e;
$comment-color: #808080;
$doc-color: #629755;
$doc-keyword-color: #526d4a;
$tag-color: #e8bf6a;
$number-color: #ae81ff;
$parameter-color: #cf8822;
$global-var-color: #4186f8;
$local-var-color: #cbad96;
$string-color: #e6db74;
$important-type-cast-color: #143d1b;
$class-color: #66d9ee;
$abstract-class-color: #00cfd3;
$interface-color: #0ed38b;
$annotation-color: #bbb529;
$interpolation-color: #fd971f;
$generic-type-color: #20999d;
$label-color: #467cda;
$inserted-color: #294436;
$deleted-color: #484a4a;

$url-hover-color: #589df6;
$url-hover-underline-color: #287bde;

$toolbar-action-bg-color: rgba(255, 255, 255, 0.05);
$toolbar-action-text-color: var(--text-color);
$toolbar-title-color: $toolbar-action-text-color;
$toolbar-action-text-hover-color: #e49c3b;

$toolbar-height: 40px;

pre {
  &[class*='language-'] {
    background: $default-bg-color;
    font-size: 75%;
    line-height: 1.5;
    font-family: $default-font-family;
    border: 0;
    direction: ltr;
    font-feature-settings: normal;
    text-align: left;
    word-wrap: normal;
    white-space: nowrap;
    position: relative;

    &.soft-wrap {
      white-space: pre-wrap;
    }

    &::-moz-selection,
    ::-moz-selection,
    &::selection,
    ::selection {
      color: inherit;
      background: $selection-bg-color;
    }
  }

  // line highlight feature
  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 0;
    margin-top: 1rem; // FIXME: this value is coupled with the _post.scss pre { padding-top }
    background: $selection-bg-color;
    border-left: 4px solid $keyword-color;
    pointer-events: none;
    z-index: 1;
  }

  > code[class*='language-'] {
    // normally this should be $default-token-color, but in real-life example
    // there very likely are local-var color instead of default color
    color: $local-var-color;
    direction: ltr;
    font-feature-settings: normal;
    text-align: left;
    overflow: auto;
    word-wrap: normal;
    word-break: break-all;
    white-space: pre;
    tab-size: 4;
    hyphens: none;

    &.soft-wrap {
      white-space: pre-wrap;
    }

    &::-moz-selection,
    ::-moz-selection {
      color: inherit;
      background: $selection-bg-color;
    }
    &::selection,
    ::selection {
      color: inherit;
      background: $selection-bg-color;
    }

    // Syntax highlight
    .token {
      position: relative;
      z-index: 1;

      &.comment,
      &.prolog,
      &.cdata {
        color: $comment-color;

        > .url,
        > .url-link,
        > .email-link {
          color: $comment-color;
          text-decoration: none;
          box-shadow: $comment-color 0 -1px 0 inset;
          &:hover {
            color: $url-hover-color;
            box-shadow: $url-hover-underline-color 0 -1px 0 inset;
          }
        }
      }

      &.doc-comment {
        color: $doc-color;

        > .token.keyword {
          color: $doc-keyword-color;
          text-decoration: underline;
        }
      }

      &.delimiter,
      &.boolean,
      &.keyword,
      &.selector,
      &.important,
      &.atrule {
        font-weight: bold;
        color: $keyword-color;
      }

      &.operator,
      &.punctuation,
      &.attr-name {
        color: $default-token-color;
      }

      &.tag {
        color: $tag-color;

        .punctuation {
          color: $tag-color;
        }
      }

      &.doctype,
      &.builtin {
        color: $tag-color;
      }

      &.entity,
      &.number,
      &.symbol {
        color: $number-color;
      }

      &.property,
      &.parameter {
        color: $parameter-color;
      }

      &.constant,
      &.console.class-name,
      &.dom.variable {
        color: $global-var-color;
      }

      &.variable {
        color: $local-var-color;
      }

      &.string,
      &.char {
        color: $string-color;
      }

      &.attr-value {
        color: $function-color;

        .punctuation {
          color: $function-color;

          &:first-child {
            color: $default-token-color;
          }
        }
      }

      &.url,
      &.url-link,
      &.email-link {
        color: $url-hover-color;
        text-decoration: none;
        box-shadow: $url-hover-underline-color 0 -1px 0 inset;
        &:hover {
          color: $url-hover-color;
          text-decoration: none;
          box-shadow: $url-hover-underline-color 0 -1px 0 inset;
        }
      }

      &.function {
        color: $function-color;
      }

      &.regex {
        color: $string-color;
        background: $important-type-cast-color;
      }

      &.class-name,
      &.maybe-class-name {
        color: $class-color;
      }

      &.property-access {
        color: $parameter-color;
        &.function,
        &.method {
          color: $function-color;
        }
      }

      &.abstract > .token {
        &.class-name,
        &.maybe-class-name {
          color: $abstract-class-color;
        }
      }

      &.interface > .token {
        &.class-name,
        &.maybe-class-name {
          color: $interface-color;
        }
      }

      &.object > .token {
        &.class-name,
        &.maybe-class-name {
          font-weight: bold;
        }
      }

      &.annotation {
        color: $annotation-color;
      }

      &.interpolation {
        color: $interpolation-color;

        > .token.delimiter {
          color: $parameter-color;
        }
      }

      &.generics > .token.class-name,
      &.maybe-generic-template {
        color: $generic-type-color;
      }

      &.label.symbol {
        color: $label-color;
      }

      &.namespace {
        color: $default-token-color;
      }

      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.inserted {
        background: $inserted-color;
      }

      &.deleted {
        background: $deleted-color;
      }
    }
  }

  // Css language Special handling
  > code[class='language-css'] {
    .token {
      &.property {
        color: $function-color;

        + .token.punctuation {
          color: $function-color;
        }
      }

      &.id {
        color: $keyword-color;
      }

      &.selector > .token {
        &.class,
        &.attribute,
        &.pseudo-class,
        &.pseudo-element {
          color: $keyword-color;
        }
      }
    }
  }
}

div.code-toolbar {
  position: relative;
  width: 100%;

  > .toolbar {
    font-family: $default-font-family;
    position: absolute;
    top: -20px;
    opacity: 1;
    width: 100%;
    background: transparent;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
    z-index: 3;

    .toolbar-item {
      display: inline-block;
      height: $toolbar-height;
      margin: 0 4px;

      &:hover {
        color: $toolbar-action-text-hover-color;
      }
      &:first-child {
        flex: 1;
        margin: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      .copy-btn {
        width: 16px;
      }

      a,
      button,
      span {
        // reset css
        cursor: pointer;
        border: 0;
        font: inherit;
        overflow: visible;
        user-select: none;
        border-radius: 40px;
        color: $toolbar-action-text-color;
        padding: 4px 8px;
        text-align: right;
        font-size: 14px;
        line-height: 40px;
        box-shadow: none;
        //opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);

        &:hover,
        &:focus {
          color: inherit;
          text-decoration: none;
        }
      }

      .title {
        color: $toolbar-title-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 40px;
        box-shadow: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &:hover > .toolbar,
  &:focus-within > .toolbar {
    .toolbar-item {
      a,
      button,
      span {
        text-decoration: none;
        //opacity: 1;
      }
    }
  }
}

@media (max-width: 700px) {
  $toolbar-height: 32px;

  pre {
    &[class*='language-'] {
      font-size: 70%;
    }
  }
  div.code-toolbar {
    > .toolbar {
      top: -16px;
      .toolbar-item {
        height: $toolbar-height;

        a,
        button,
        span {
          font-size: 12px;
          line-height: $toolbar-height;
        }
        .title {
          font-size: 12px;
          line-height: $toolbar-height;
        }
      }
    }
  }
}
