.aside-menu {
  .backdrop {
    display: none;
    &.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1199;
    }
  }
  .fixed-left-menu {
    position: fixed;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: calc(100vh - 48px);
    top: 48px;
    left: 0;
    z-index: 1200;
    padding: 1.5rem;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-300px);
    overflow-y: auto;
    &.active {
      transform: translateX(0);
    }
  }
}
