@import "global";

/* Author Template
/* ---------------------------------------------------------- */

.author-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10vw 0 10px;
}

.site-archive-header .no-image .author-header {
  padding-bottom: 20px;
}

.author-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0 0 30px;
}

.site-header-content .author-profile-image {
  z-index: 10;
  flex-shrink: 0;
  margin: 5px 0 0;
  width: 110px;
  height: 110px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 6px;
}

.author-header-content {
  .author-bio {
    z-index: 10;
    flex-shrink: 0;
    margin: 6px 0 -6px;
    max-width: 46em;
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 400;
    opacity: 0.8;
  }

  .author-meta {
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 1px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  .social-link:first-of-type {
    padding-left: 4px;
  }
}

.no-image .author-header-content {
  .author-bio,
  .author-meta {
    color: $midgrey;
    opacity: 1;
  }
}

.author-social-link a {
  color: #fff;
  font-weight: 600;
}

.no-image .author-social-link a {
  color: $darkgrey;
}

.author-social-link {
  a:hover {
    opacity: 1;
  }

  padding: 10px 0;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
}

.author-location + .author-stats:before,
.author-stats + .author-social-link:before,
.author-social-link + .author-social-link:before {
  content: '\2022';
  display: inline-block;
  margin: 0 12px;
  color: #fff;
  opacity: 0.6;
}

.no-image {
  .author-location + .author-stats:before,
  .author-stats + .author-social-link:before,
  .author-social-link + .author-social-link:before {
    color: $midgrey;
  }
}

@media (max-width: 500px) {
  .author-header {
    padding: 10px 0 0;
  }

  .no-image .author-header {
    padding-bottom: 10px;
  }

  .author-header-content {
    margin-left: 20px;
  }

  .site-header-content .author-profile-image {
    width: 80px;
    height: 80px;
  }

  .author-header-content .author-bio {
    font-size: 1.8rem;
    line-height: 1.3em;
    letter-spacing: 0;
  }

  .author-location,
  .author-stats {
    display: none;
  }
}
