&.pagination-footer {
  padding-bottom: 4rem;
}
.pagination-list {
  max-width: 40px;
}
.pagination-previous,
.pagination-next {
  flex-grow: unset !important;
  background-color: $primary;
  color: #fff;
  border-color: $primary;
  margin: 0 2rem;

  &:hover {
    border-color: $primary;
  }

  &[disabled]{
    color: rgba(#fff, 0.4);
    opacity: 1;
    background-color: #979797;
    border-color: #979797;
  }
}
.pagination {
  @media screen and (min-width: 769px) {
    justify-content: center !important;
  }
}

