&.pagination-footer {
  padding-bottom: 4rem;
}
.pagination-list {
  max-width: 40px;
}
.pagination-previous,
.pagination-next {
  flex-grow: unset !important;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #000;
  margin: 0 2rem;
  opacity: 0.7;

  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &:hover {
    color: $primary;
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
  }

  &[disabled]{
    color: rgba(#000, 0.4);
    background-color: transparent;
    border-color: transparent;
  }
}
.pagination {
  @media screen and (min-width: 769px) {
    justify-content: center !important;
  }
}

