@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
