/* Single Post
/* ---------------------------------------------------------- */

.post-template .site-main,
.page-template .site-main {
  margin-top: 64px;
  padding-bottom: 4vw;
  background: var(--bg-color);
}

.post-full-header {
  position: relative;
  margin: 0 auto;
  padding: 70px 170px 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.post-full-all-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
  line-height: 1.4em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 0.5em;
  > a {
    padding: 0 0.5em;
    margin: 2px 0 0 0;

    &:first-child {
      padding: 0 0.5em 0 0;
    }
  }
}

.post-full-meta-date {
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 1170px) {
  .post-full-header {
    padding: 60px 11vw 50px;
  }
}

@media (max-width: 800px) {
  .post-full-header {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

@media (max-width: 500px) {
  .post-full-header {
    padding: 20px 0 35px;
  }
}

.post-full-title {
  margin: 0 0 0.2em;
  color: var(--text-color);
}

.post-full-custom-excerpt {
  margin: 20px 0 0;
  color: var(--excerpt-color);
  font-size: 2.3rem;
  line-height: 1.4em;
  font-weight: 300;
}

.date-divider {
  display: inline-block;
  margin: 0 6px 1px;
  font-weight: 300;
}

.post-full-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 25px 0 50px;
  background: #f8f8f8;
  border-radius: 3px;

  img {
    max-width: 1040px;
    width: 100%;
    height: auto;
  }
}

.post-full-content {
  position: relative;
  margin: 0 auto;
  padding: 0 170px 6vw;
  min-height: 230px;
  font-family: var(--font-family);
  font-size: 2rem;
  line-height: 1.6em;
  background: var(--bg-color);
}

@media (max-width: 1170px) {
  .post-full-content {
    padding: 0 11vw;
  }
}

@media (max-width: 800px) {
  .post-full-content {
    padding: 0 2.5vw;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .post-full-custom-excerpt {
    font-size: 1.9rem;
    line-height: 1.5em;
  }
}

.no-image .post-full-content {
  padding-top: 0;

  &:before,
  &:after {
    display: none;
  }
}

.post-full-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  pre,
  blockquote {
    margin: 0 0 1.5em 0;
    min-width: 100%;
  }
  blockquote {
    color: var(--strong-text-color);
  }
}

.post-full-comments,
.footnotes {
  margin: 0 0 1.5em 0;
  min-width: 100%;
}

@media (max-width: 500px) {
  .post-full-content {
    p,
    ul,
    ol,
    dl,
    pre {
      margin-bottom: 1.28em;
    }
  }

  .post-full-comments,
  .footnotes {
    margin-bottom: 1.28em;
  }
}

.post-full-content {
  li {
    word-break: break-word;

    p {
      margin: 0;
    }
  }

  a {
    color: var(--primary);
    word-break: break-word;
    box-shadow: var(--primary) 0 -1px 0 inset;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--text-color);
      text-decoration: none;
      box-shadow: var(--text-color) 0 -1px 0 inset;
    }
  }

  strong,
  em {
    color: var(--strong-text-color);
  }

  small {
    display: inline-block;
    line-height: 1.6em;
    width: 100%;
  }

  li:first-child {
    margin-top: 0;
  }

  img,
  video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: auto;
  }

  img {
    max-width: 100%;
    background: var(--image-bg-color);
    &[src$='#full'] {
      max-width: none;
      width: 100vw;
    }

    + br + small {
      display: block;
      margin-top: -3em;
      margin-bottom: 1.5em;
      text-align: center;
    }
  }

  iframe {
    margin: 0 auto !important;
  }

  blockquote {
    margin: 0 0 1.5em;
    padding: 0.5em 1.5em;
    border-left: var(--primary) 4px solid;
    background-color: var(--blockquote-bg-color);

    p {
      margin: 0 0 1em 0;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      font-style: italic;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  code {
    font-size: 0.9em;
    line-height: 1em;
    font-weight: 400 !important;
    color: var(--code-text-color);
    background: transparent;
    border-radius: 3px;
    white-space: pre-wrap;
    padding: 0;
  }

  p code {
    word-break: break-all;
  }

  pre {
    overflow-x: auto;
    margin: 1.5rem 0 3rem;
    padding: 1rem 2rem;
    max-width: 100%;
    color: var(--code-text-color);
    font-size: 75%;
    line-height: 1.5;
    background-color: var(--code-bg-color);
    border-radius: 5px;

    @media (max-width: 700px) {
      font-size: 70%;
    }

    code {
      padding: 0;
      font-size: inherit;
      line-height: inherit;
      background: transparent;

      :not(span) {
        color: inherit;
      }
    }
  }

  .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
  }

  hr {
    margin: 2em 0;

    + p {
      margin-top: 1.2em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--strong-text-color);
  }

  h1 {
    margin: 0.5em 0 0.4em;
    font-size: 4.2rem;
    line-height: 1.25em;
    font-weight: 600;
  }

  p + h1 {
    margin-top: 0.8em;
  }

  h2 {
    margin: 0.5em 0 0.4em;
    font-size: 3.2rem;
    line-height: 1.25em;
    font-weight: 600;
  }

  p + h2 {
    margin-top: 0.8em;
  }

  h3 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5rem;
    line-height: 1.3em;
    font-weight: 600;
  }

  h2 + h3 {
    margin-top: 0.7em;
  }

  h4 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2 + h4 {
    margin-top: 0.7em;
  }

  h3 + h4 {
    margin-top: 0;
  }

  h5 {
    display: block;
    margin: 0.5em 0;
    padding: 0.4em 1em 0.9em;
    border: 0;
    color: var(--primary);
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
  }

  h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .post-full-content {
    img,
    video {
      width: 100%;
    }
  }
}

/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper

Usage (In Ghost edtior):

![img](/some/image.jpg#full)

*/

/* Image captions

Usage (In Ghost editor):

![img](/some/image.jpg)
<small>Your image caption</small>

*/

/* Override third party iframe styles */

@media (max-width: 500px) {
  .post-full-content blockquote {
    padding: 0.5em 1.3em;
  }
}

@media (max-width: 800px) {
  .post-full-content h1 {
    font-size: 3.2rem;
    line-height: 1.25em;
  }
}

@media (max-width: 800px) {
  .post-full-content h2 {
    margin-bottom: 0.3em;
    font-size: 2.8rem;
    line-height: 1.25em;
  }
}

@media (max-width: 800px) {
  .post-full-content h3 {
    margin-bottom: 0.3em;
    font-size: 2.4rem;
    line-height: 1.3em;
  }
}

@media (max-width: 800px) {
  .post-full-content h4 {
    margin-bottom: 0.3em;
    font-size: 2.4rem;
    line-height: 1.3em;
  }
}

@media (min-width: 1180px) {
  .post-full-content h5 {
    max-width: 1060px;
    width: 100vw;
  }
}

@media (max-width: 800px) {
  .post-full-content h5 {
    margin-bottom: 1em;
    margin-left: 1.3em;
    padding: 0 0 0.5em;
    font-size: 2.4rem;
    text-align: initial;
  }
}

@media (max-width: 800px) {
  .post-full-content h6 {
    font-size: 1.8rem;
    line-height: 1.4em;
  }
}

.footnotes-sep {
  margin-bottom: 30px;
}

.footnotes {
  font-size: 1.5rem;

  p {
    margin: 0;
  }
}

/* Some grouped styles for smaller viewports */
@media (max-width: 1170px) {
  .post-full-image {
    margin: 25px -6vw 50px;
    border-radius: 0;

    img {
      max-width: 1170px;
    }
  }
}

@media (max-width: 700px) {
  .post-full-image {
    margin: 25px -5vw;
  }
}

@media (max-width: 500px) {
  .post-full-meta {
    font-size: 1.2rem;
    line-height: 1.3em;
  }

  .post-full-title {
    margin-top: 0.2em;
    font-size: 3.3rem;
  }

  .post-full-image {
    margin-top: 5px;
    margin-bottom: 5vw;
  }

  .post-full-content {
    padding: 0;

    &:before,
    &:after {
      display: none;
    }
  }
}

/* Tables */

.post-full-content table {
  display: inline-block;
  overflow-x: auto;
  margin: 0.5em 0 2.5em;
  max-width: 100%;
  width: auto;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: var(--font-family);
  font-size: 1.6rem;
  white-space: nowrap;
  vertical-align: top;
  -webkit-overflow-scrolling: touch;
  background-attachment: scroll, scroll;
  background-size: 10px 100%, 10px 100%;
  background-repeat: no-repeat;

  td {
    &:first-child {
      background-size: 20px 100%;
      background-repeat: no-repeat;
    }

    &:last-child {
      background-position: 100% 0;
      background-size: 20px 100%;
      background-repeat: no-repeat;
    }
  }

  th {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    padding: 6px 12px;
  }

  td {
    padding: 6px 12px;
  }

  tr {
    border-bottom: 1px solid rgba(#aaa, 0.4);
  }
}

/* 7.1. Post Byline
/* ---------------------------------------------------------- */

.post-full-byline {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0;
  padding-top: 15px;
  border-top: 1px solid var(--border-color);
}

.post-full-byline-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;

  .author-list {
    justify-content: flex-start;
    padding: 0 12px 0 0;
  }
}

.post-full-byline-meta {
  margin: 2px 0 0;
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  h4 {
    margin: 0 0 3px;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 500;

    a {
      color: var(--text-color);

      &:hover {
        text-decoration: unset;
        color: var(--primary);
      }
    }
  }

  .bull {
    display: inline-block;
    margin: 0 4px;
    opacity: 0.6;
  }
}

.author-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -4px;
  width: 40px;
  height: 40px;
  transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 700ms;
}

.author-list-item .author-card {
  position: absolute;
  bottom: 130%;
  left: 50%;
  z-index: 600;
  display: flex;
  justify-content: space-between;
  margin-left: -200px;
  width: 400px;
  font-size: 1.4rem;
  line-height: 1.5em;
  background: var(--bg-color);
  border-radius: 3px;
  box-shadow: rgba(39, 44, 49, 0.08) 0 12px 26px, rgba(39, 44, 49, 0.06) 1px 3px 8px;
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform: scale(0.98) translateY(15px);
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid var(--border-color);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &.hovered {
    opacity: 1;
    transform: scale(1) translateY(0px);
    pointer-events: auto;
  }
}

.author-card {
  padding: 20px 20px 22px;

  .author-info {
    flex: 1 1 auto;
    padding: 0 0 0 20px;

    h2 {
      margin: 8px 0 0;
      font-size: 1.6rem;
    }

    p {
      margin: 4px 0 0;
      color: var(--secondary-text-color);
    }

    .bio {
      h2 {
        margin-top: 0;
      }

      p {
        margin-top: 0.8em;
      }
    }
  }

  .author-profile-image {
    flex: 0 0 60px;
    margin: 0;
    width: 60px;
    height: 60px;
    border: none;
  }
}

.basic-info .avatar-wrapper {
  position: relative;
  margin: 0;
  width: 60px;
  height: 60px;
  border: none;
  background: rgba(229, 239, 245, 0.1);

  svg {
    margin: 0;
    width: 60px;
    height: 60px;
    opacity: 0.15;
  }
}

@media (max-width: 1170px) {
  .author-list-item .author-card {
    margin-left: -50px;
    width: 430px;

    &:before {
      left: 50px;
    }
  }
}

@media (max-width: 650px) {
  .author-list-item .author-card {
    display: none;
  }
}

@media (max-width: 500px) {
  .author-avatar {
    width: 32px;
    height: 32px;
  }

  .post-full-byline-meta {
    font-size: 1.2rem;

    h4 {
      margin-bottom: 2px;
      font-size: 1.2rem;
    }
  }
}

/* 7.3. Comments
/* ---------------------------------------------------------- */

.post-full-comments {
  margin: 0 auto;
  max-width: 840px;
}

/* 7.4. Related posts
/* ---------------------------------------------------------- */

.read-next {
  background: var(--bg-color);
}

.read-next-feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.read-next {
  .post-card {
    padding-bottom: 0;
    border-bottom: none;

    &:after {
      display: none;
    }
  }

  .post-card-title {
    color: var(--strong-text-color);
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }

  .post-card:hover .post-card-image {
    opacity: 1;
  }

  .post-card-excerpt {
    color: var(--text-color);
  }

  .static-avatar {
    border-color: #000;
  }

  .post-card-byline-content {
    color: var(--secondary-text-color);

    a {
      color: var(--secondary-text-color);
    }
  }
}

.read-next-card {
  position: relative;
  flex: 0 1 326px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 25px 50px;
  padding: 25px;
  background: var(--card-bg-color);
  border-radius: 3px;
  box-shadow: var(--box-shadow);

  a {
    transition: all 0.2s ease-in-out;

    &:hover {
      text-decoration: none;
    }
  }
}

.read-next-card-header h3 {
  margin: 0;
  color: var(--strong-text-color);
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  a {
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

.read-next-card-content {
  font-size: 1.7rem;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
    border-bottom: var(--border-color);

    &:last-of-type {
      padding-bottom: 5px;
      border: none;
    }
  }

  h4 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.35em;
    font-weight: 600;
  }

  li a {
    display: block;
    color: var(--strong-text-color);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.read-next-card-excerpt {
  overflow: hidden;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.2em;
  text-overflow: ellipsis;
}

.read-next-card-meta {
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;

  p {
    margin: 0;
    color: var(--secondary-text-color);
  }
}

.read-next-card-footer {
  position: relative;
  margin: 40px 0 5px;

  a {
    color: var(--secondary-text-color);
    font-size: 1.3rem;
    transition: all 0.35s ease-in-out;

    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

@media (max-width: 1170px) {
  .read-next-card {
    flex: 1 1 261px;
    margin-bottom: 5vw;
  }
}

@media (max-width: 650px) {
  .read-next-feed {
    flex-direction: column;
  }

  .read-next-card {
    flex: 1 1 auto;
    margin: 0 25px;
  }

  .read-next .post-card {
    flex: 1 1 auto;
    margin: 25px;
    padding: 25px 0 0;
  }
}

/* 7.5. Koenig Styles
/* ---------------------------------------------------------- */

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-full-content {
  .kg-image, img {
    max-width: 100%;
  }
}

/* Preventing full-width image overlap with post image.  */

.post-full-image + .post-full-content .kg-content *:first-child .kg-image {
  width: 100%;
}

.post-full-content {
  .kg-width-wide .kg-image {
    max-width: 1040px;
  }

  .kg-width-full .kg-image {
    max-width: 100vw;
  }

  figure {
    margin: 0.8em 0 2em;
  }

  h1 + figure,
  h2 + figure,
  h3 + figure,
  h4 + figure {
    margin-top: 2em;
  }

  figure img {
    margin: 0;
  }

  figcaption {
    margin: 8px 0 0;
    color: var(--secondary-text-color);
    font-family: var(--font-family);
    font-size: 75%;
    line-height: 1.5em;
    text-align: center;
  }
}

.kg-width-full figcaption {
  padding: 0 1.5em;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .fluid-width-video-wrapper {
    margin: 0;
  }
}

@media (max-width: 1040px) {
  .post-full-content .kg-width-full .kg-image {
    width: 100vw;
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100vw;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-gallery-card + {
  .kg-image-card.kg-width-wide,
  .kg-gallery-card {
    margin: -2.25em 0 3em;
  }
}

.kg-image-card.kg-width-wide + {
  .kg-gallery-card,
  .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
  }
}

/* keep existing <pre> styles for code cards with captions */

.kg-code-card {
  width: 100%;

  pre {
    margin-top: 0;
  }
}

.kg-bookmark-card {
  width: 100%;
  background-color: var(--card-bg-color);
}

.kg-card + .kg-bookmark-card {
  margin-top: 0;
}

.post-full-content .kg-bookmark-container {
  display: flex;
  min-height: 148px;
  color: var(--text-color);
  font-family: var(--font-family);
  text-decoration: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow);

  &:hover {
    color: var(--text-color);
    text-decoration: none;
    box-shadow: var(--box-shadow);
  }
}

.kg-bookmark-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.kg-bookmark-title {
  color: var(--strong-text-color);
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
  color: var(--primary);
}

.kg-bookmark-description {
  display: -webkit-box;
  overflow-y: hidden;
  margin-top: 12px;
  max-height: 48px;
  color: var(--excerpt-color);
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 400;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    object-fit: cover;
  }
}

.kg-bookmark-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
  color: var(--excerpt-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.post-full-content .kg-bookmark-icon {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.kg-bookmark-author {
  line-height: 1.5em;

  &:after {
    content: '•';
    margin: 0 6px;
  }
}

.kg-bookmark-publisher {
  overflow: hidden;
  max-width: 240px;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .post-full-content {
    figure {
      margin: 0.2em 0 1em;
    }

    h1 + figure,
    h2 + figure,
    h3 + figure,
    h4 + figure {
      margin-top: 0.9em;
    }
  }
}

@media (max-width: 500px) {
  .post-full-content {
    .kg-width-wide,
    .kg-width-full {
      margin-right: -5vw;
      margin-left: -5vw;
    }

    figcaption {
      margin-bottom: 0.4em;
    }

    .kg-bookmark-container {
      flex-direction: column;
    }
  }

  .kg-bookmark-title,
  .kg-bookmark-description,
  .kg-bookmark-metadata {
    font-size: 1.4rem;
    line-height: 1.5em;
  }

  .post-full-content .kg-bookmark-icon {
    width: 18px;
    height: 18px;
  }

  .kg-bookmark-thumbnail {
    order: 1;
    min-height: 160px;
    width: 100%;

    img {
      border-radius: 3px 3px 0 0;
    }
  }

  .kg-bookmark-content {
    order: 2;
  }
}
