.dark-mode-toggle {
  z-index: 1100;
  padding: 0.6rem;
  margin-right: 0.5rem;
  opacity: 0.7;
  border-radius: 10rem;
  height: 3rem;
  width: 3rem;
  filter: invert(100%);
  &:hover {
    opacity: 1;
  }
}
