@import 'variables';

/* 12. Dark Mode
/* ---------------------------------------------------------- */

:root {
  --primary: #{$primary};
  --bg-color: #{$dark-bg-color};
  --text-color: #{$dark-text-color};
  --strong-text-color: #{$dark-strong-text-color};
  --border-color: #{$dark-border-color};
  --mark-color: #{$dark-mark-color};

  --text-selection-color: #{$dark-text-selection-color};
  --secondary-text-color: #{$dark-secondary-text-color};
  --nav-bar-bg-color: #{$dark-nav-bar-bg-color};
  --nav-bar-text-color: #{$dark-nav-bar-text-color};
  --excerpt-color: #{$dark-excerpt-color};
  --blockquote-bg-color: #{$dark-blockquote-bg-color};
  --code-text-color: #{$dark-code-text-color};
  --code-bg-color: #{$dark-code-bg-color};
  --card-bg-color: #{$dark-card-bg-color};

  --box-shadow: #{$dark-box-shadow};
  --ripple-bg-color: #{$dark-ripple-bg-color};
  --disabled-text-color: #{$dark-disabled-text-color};
  --footer-bg-color: #{$dark-footer-bg-color};
}

.menu-toggle {
  .menu-toggle-btn {
    filter: none;
  }
}

.social-link {
  i {
    filter: none;
  }
}

.site-nav-logo {
  filter: none;
}

.dark-mode-toggle {
  filter: none;
}
