@import 'variables';

/* 12. Dark Mode
/* ---------------------------------------------------------- */

body {
  color: rgba(255, 255, 255, 0.8);
  background: $darkmode;
}

::selection {
  background: rgba($primary, 0.2);
}

.post-feed {
  background: $darkmode;
}

.full-site-nav-content {
  background-color: lighten($darkmode, +2%);

  a.full-nav {
    color: #fff;
  }
}

.post-card {
  border-bottom-color: lighten($darkmode, +8%);

  &:hover {
    border-bottom-color: lighten($darkmode, +8%);
  }
}

.author-profile-image {
  background: $darkmode;
}

.post-card-byline-content a {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: #fff;
  }
}

mark {
  background-color: rgba($primary, 0.5);
}

.post-card-title {
  color: rgba(255, 255, 255, 0.85);
}

.post-card-excerpt {
  color: lighten($midgrey, +10%);
}

.author-avatar,
.static-avatar {
  border-color: lighten($darkgrey, +2%);
}

.site-main,
.post-template .site-main,
.page-template .site-main,
.post-full-content {
  background: $darkmode;
}

.post-full-title {
  color: rgba(255, 255, 255, 0.9);
}

.post-full-custom-excerpt {
  color: lighten($midgrey, +20%);
}

.post-full-byline {
  border-top-color: lighten($darkmode, +8%);
}

.post-full-byline-meta h4 a {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: #fff;
  }
}

.author-list-item .author-card {
  background: color($darkmode l(+4%));
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.4);

  &:before {
    border-top-color: lighten($darkmode, +4%);
  }
}

.no-image .author-social-link a {
  color: rgba(255, 255, 255, 0.8);
}

.post-full-content {
  h1,
  h2,
  h3,
  h4,
  h6 {
    color: rgba(255, 255, 255, 0.9);
  }

  a {
    color: $primary;
    word-break: break-word;
    box-shadow: $primary 0 -1px 0 inset;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none;
      box-shadow: rgba(255, 255, 255, 0.9) 0 -1px 0 inset;
    }
  }

  strong,
  em {
    color: #fff;
  }

  code {
    color: #16f0a0;
    background: lighten($darkmode, +4%);
  }

  pre {
    background: #2c2c2c;
  }

  blockquote {
    color: #fff;
  }
}

hr,
.post-full-byline {
  border-top-color: lighten($darkmode, +8%);
}

.post-full-content {
  figcaption {
    color: rgba(255, 255, 255, 0.65);
  }

  table {
    td {
      &:first-child {
        background-image: linear-gradient(to right, $darkmode 50%, rgba($darkmode, 0%) 100%);
      }

      &:last-child {
        background-image: linear-gradient(to left, $darkmode 50%, rgba($darkmode, 0%) 100%);
      }
    }

    th {
      color: rgba(255, 255, 255, 0.85);
      background-color: lighten($darkmode, +8%);
      border: lighten($darkmode, +8%) 1px solid;
    }

    td {
      border: lighten($darkmode, +8%) 1px solid;
    }
  }

  .kg-bookmark-container {
    color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);

    &:hover {
      color: rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
    }
  }

  blockquote {
    background-color: lighten($darkmode, +4%);
  }
}

.kg-bookmark-title {
  color: #fff;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
  color: rgba(255, 255, 255, 0.8);
}

.site-archive-header .no-image {
  color: rgba(255, 255, 255, 0.9);
  background: $darkmode;

  .site-header-content {
    border-bottom-color: lighten($darkmode, +15%);
  }
}

.site-header-content .author-profile-image {
  box-shadow: 0 0 0 6px hsla(0, 0%, 100%, 0.04);
}

.subscribe-form {
  border: none;
  background: linear-gradient(darken($darkmode, 6%), darken($darkmode, 3%));
}

.subscribe-form-title {
  color: rgba(255, 255, 255, 0.9);
}

.subscribe-form p {
  color: rgba(255, 255, 255, 0.75);
}

.subscribe-email {
  border-color: lighten($darkmode, +6%);
  color: rgba(255, 255, 255, 0.9);
  background: lighten($darkmode, +3%);

  &:focus {
    border-color: lighten($darkmode, +25%);
  }
}

.subscribe-form {
  button {
    opacity: 0.9;
  }

  .invalid .message-error,
  .error .message-error {
    color: desaturate(lighten($red, +5%), 5%);
  }

  .success .message-success {
    color: desaturate(lighten($green, +5%), 5%);
  }
}

.kg-bookmark-card {
  background-color: lighten($darkmode, +4%);
}

.medium-zoom-overlay {
  background-color: $darkmode;
}

.aside-menu {
  .fixed-left-menu {
    background-color: lighten($darkmode, +6%);
  }
}

.menu-toggle {
  .menu-toggle-btn {
    filter: none;
  }
}

.nav,
.nav-logo {
  li {
    a {
      color: #fff;
    }
  }
}

.site-main,
.site-nav-main {
  .site-nav {
    color: #fff;
    background-color: $nav-bar-color;
  }

  .fixed-nav-active.site-nav {
    color: #fff;
    background-color: $nav-bar-color;
  }
}

.social-link {
  svg {
    filter: none;
  }
}

.site-nav-logo {
  filter: none;
}

.dark-mode-toggle {
  filter: none;
}

.bulma {
  $menu-item-color: rgba(255, 255, 255, 0.9);
  $menu-item-hover-color: rgba(255, 255, 255, 0.9);
  $menu-item-hover-background-color: rgba($primary, 0.2);
  @import '~bulma/bulma';
  @import 'bulma-pagination';
}
