/* Global - Set up the things
/* ---------------------------------------------------------- */
@import 'global';
@import 'medium-zoom';

body {
  background: $default-bg-color;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}

/* Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Full width page blocks */

.outer {
  position: relative;
  padding: 0 5vw;
}

/* Centered content container blocks */

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

/* Usage:

<div class="outer">
    <div class="inner">
        Centered content
    </div>
</div>

*/

/* Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
  .home-template .post-feed,
  .tag-template .post-feed,
  .author-template .post-feed {
    padding: 40px 0 5vw;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .home-template .site-nav {
    position: relative;
  }
}

@import 'site-header';

@import 'post-feed';

@import 'post';

@import 'author';

@import 'error-template';

@import 'site-navigation';

@import 'footer';

.bulma {
  $menu-item-hover-background-color: rgba($primary, 0.2);
  @import '~bulma/sass/utilities/_all.sass';
  @import '~bulma/sass/base/_all.sass';
  @import '~bulma/sass/components/menu';
  @import '~bulma/sass/components/pagination';
  @import 'bulma-pagination';
}
